<html>
    <head>
        <title>Hotel Miranda</title>
        <link rel="stylesheet" href="/style.css" />
    </head>
    <body>
        <div class="container">
            <h1>Routes:</h1>
            <ul>
                <li class="route-container">/login</li>
                <li class="route-container">/bookings</li>
                <li class="route-container">/rooms</li>
                <li class="route-container">/users</li>
                <li class="route-container">/contact</li>
            </ul>
            <p class="name">By: Jorge Macias Cordobés</p>
        </div>
    </body>
</html>